.account-book {
  padding: 4rem;
  margin: 4rem;
  justify-content: center;
  border: 1px solid black;
}

.account-book__control {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
